---
import BaseLayout from '../../layouts/BaseLayout.astro'
import PostCard from '../../components/basics/PostCard.astro'
import TagComponent from '../../components/basics/Tag.astro'
import '../../styles/custom-grid.css'
export async function getStaticPaths() {
    const allPosts = await Astro.glob('../posts/*.md')
    let tags = []
    allPosts.forEach((post) => {
        if (post.frontmatter.tags) {
            post.frontmatter.tags.forEach((tag) =>
                tags.push({ params: { tag: tag }, props: { posts: allPosts } })
            )
        }
    })

    return tags
}

const { tag } = Astro.params
const { posts } = Astro.props
const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag))
filteredPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
---

<BaseLayout extendedTitle={`${tag} Tag`}>
    <p class="text-center text-xl">
        Posts with tag <a class="font-bold"><TagComponent tag={tag} /></a>
    </p>
    <br />
    <div class="custom-grid grid justify-center gap-2">
        {
            filteredPosts.map((post) => (
                <div class="flex items-center justify-center">
                    <PostCard
                        postName={post.frontmatter.title}
                        postDesc={post.frontmatter.description}
                        postUrl={post.url}
                        postDate={post.frontmatter.pubDate}
                    />
                </div>
            ))
        }
    </div>
</BaseLayout>
