---
import Button from './Button.astro'
const { postName, postDesc = '', postUrl, postDate, postId } = Astro.props
let date = 'Unknown'
if (postDate) {
    date = new Date(Date.parse(postDate.slice(0, 10))).toLocaleString('en-US', {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
    })
}
---

<div
    id={`card${postId}`}
    class="h-32 w-full max-w-md grow rounded-2xl bg-gray-800 p-3 shadow-xl transition-all delay-0 duration-300 ease-in-out hover:bg-blue-900 hover:shadow-blue-900"
    data-href={postUrl}
>
    <div class="flex h-full flex-col justify-between">
        <p class="text-2xl font-bold">{postName}</p>
        <p class="line-clamp-1 text-base">{postDesc}</p>
        <div class="flex items-center justify-between">
            <p>{date}</p>
            <Button href={postUrl} text="Read" />
        </div>
    </div>
</div>
