---
import BaseLayout from './BaseLayout.astro';
import Button from '../components/basics/Button.astro';
const { frontmatter } = Astro.props;
let date = new Date(Date.parse(frontmatter.pubDate.slice(0,10)))
let styleddate = date.toLocaleString("en-US", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
})
---
<BaseLayout extendedTitle={frontmatter.title}>
    <div class="m-1 mb-2 p-2 rounded-xl shadow-xl bg-gray-800 min-h-32 overflow-clip">
        <div class="flex flex-col-reverse md:flex-row justify-between items-center h-full">
            <div class="flex flex-col items-center lg:items-start">
                <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
                <p>Published on: <a class="font-bold">{styleddate}</a></p>
                <p>Written by <a class="font-bold">{frontmatter.author}</a></p>
                <div class="flex items-center justify-left">
                    <p>Tags:</p>
                    {frontmatter.tags.map((tag) => 
                        <Button href={`/tags/${tag}`} text={tag}/>
                    )}
                </div>
            </div>
            {frontmatter.image.enable && <div class="object-contain max-h-full max-w-full m-2"><img src={frontmatter.image.url} alt={frontmatter.image.alt} class="max-h-28"></div>}
        </div>
    </div>
    <div class="m-1 p-2 rounded-xl shadow-xl bg-gray-800">
        <div class="prose max-w-full prose-invert prose-a:after:content-['_↗']">
            <slot />
        </div>
    </div> 
</BaseLayout>