---
import BaseLayout from './BaseLayout.astro'
import Tag from '../components/basics/Tag.astro'
const { frontmatter } = Astro.props
let date = new Date(Date.parse(frontmatter.pubDate.slice(0, 10)))
let styleddate = date.toLocaleString('en-US', {
    weekday: 'long',
    year: 'numeric',
    month: 'long',
    day: 'numeric'
})
---

<BaseLayout extendedTitle={frontmatter.title}>
    <div class="my-0 flex flex-col items-center md:m-8" transition:animate="slide">
        <div
            class="min-h-32 m-1 mb-2 w-full overflow-clip rounded-xl bg-gray-800 p-2 shadow-xl md:max-w-2xl"
        >
            <div class="flex h-full flex-col-reverse items-center justify-between md:flex-row">
                <div class="flex flex-col items-center lg:items-start">
                    <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
                    <p>Published on: <a class="font-bold">{styleddate}</a></p>
                    <p>Written by <a class="font-bold">{frontmatter.author}</a></p>
                    <div class="justify-left flex items-center">
                        <p>Tags:</p>
                        {frontmatter.tags.map((tag) => <Tag href={`/tags/${tag}`} tag={tag} />)}
                    </div>
                </div>
                {
                    frontmatter.image.enable && (
                        <div
                            class="m-2 max-h-full max-w-full object-contain"
                            transition:animate="slide"
                        >
                            <img
                                src={frontmatter.image.url}
                                alt={frontmatter.image.alt}
                                class="max-h-28"
                            />
                        </div>
                    )
                }
            </div>
        </div>
        <div class="m-1 w-full rounded-xl bg-gray-800 p-2 shadow-xl md:max-w-2xl">
            <div class="prose prose-invert max-w-full prose-a:after:content-['_↗']">
                <slot />
            </div>
        </div>
    </div>
</BaseLayout>
